.aaa 
  - @products.each do |product|
    .aaa
      = product.title
    .ddd
      .bbb
        = image_tag "#{product.image}" ,width:"200px",height:"200px"
      .ccc
        = image_tag "#{product.image}" ,width:"200px",height:"200px"