!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TechMuseum
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %nav.navbar.navbar-default
      = form_with url: products_path do |form|
        .container-fluid
          = link_to root_path do
            %h1.navbar-brand Tech-Museum
          .aaa
            = form.text_field(:search, class: "form-control", placeholder: "searching Products")
            %button.btn.btn-default{type: "submit"} Search
          - if user_signed_in?
            .form-group__right
              = link_to new_product_path do
                %button.btn.btn-default.navbar-btn{type: "button"} Post
              = link_to destroy_user_session_path, method: :delete do
                %button.btn.btn-default.navbar-btn{type: "button"} mypage
              = link_to destroy_user_session_path, method: :delete do
                %button.btn.btn-default.navbar-btn{type: "button"} ログアウト
          - else
            .form-group__right
              = link_to new_user_registration_path, class: 'header-log-in' do
                %button.btn.btn-default.navbar-btn{type: "button"} Sign Up
              = link_to new_user_session_path, class: 'header-log-in' do
                %button.btn.btn-default.navbar-btn{type: "button"} Login
    = yield
